extends layout

block content
  p
  a(href='apple-app-site-association') Apple Config
  p 
  a(href='.well-known/assetlinks.json') Android Config
  
  p
  a(href='https://www.google.com/maps/@42.585444,13.007813,6z') Google Map


